@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
.text-primary {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
  background: #e55473;
  cursor: pointer;
  transition: all 2s;
  text-transform: uppercase;
}

.btn-primary:hover {
  background: #f4093c;
}
header {
  background-color: rgba(229, 84, 115, 0.1);
}
.container {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}

.primary-heading {
  text-align: center;
  margin-top: 120px;
}

.primary-heading h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}
.primary-heading p {
  width: 40%;
  margin: 0 auto;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-text * {
  margin-bottom: 32px;
}
.banner-text h1 {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}
.banner-image {
  width: 100%;
  margin-bottom: -5px;
  vertical-align: middle;
}

.section-content{
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 24px;
}

.flower-img{
  border-radius: 300px 300px 0px 0px;
  height: 538px;
  width: 400px;
  padding: 30px 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: end;
  
}
.color-1{
  background: rgba(167, 33, 98, 0.15);

}
.color-2{
  background: rgba(210, 235, 50, 0.15);

}
.color-3{
  background: rgba(180, 71, 71, 0.15);

}
.flower-img img{
width: 80%;
}

.flower a{
  text-decoration: none;
  color: #272727;
text-align: center;
display: block;
margin-top: 32px;
font-size: 24px;
font-weight: 700;
line-height: 35px; /* 145.833% */
}

.service{
  margin: 120px 0;
}
.service-content{
  display: flex;
  justify-content: space-around;
  padding: 86px 0;
  background: rgba(39, 39, 39, 0.05);
  border-radius: 16px;
}
.service-block{
  text-align: center;
}

.service-block img{
  margin-bottom: 24px;
}

